.sider {
  padding-top: 2rem;
  width: 20rem !important;
  min-width: 15rem !important;
  flex: 0 0 20rem !important;
  max-width: 20rem !important;
  background-color: #fff !important;
  margin-top: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  justify-content: center;
  :global {
    .ant-space {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
