.content {
    margin: 0.5rem;
    background-color: #ffff;
    border-radius: 1rem;
    padding: 2rem;
    :global {
        .ant-space {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}